# M02 Exercises
Aubrey Winger and Minah Kim

Exercise 2.2

In [1]:
lst = [1,2,3,4,5]
print(lst[1])

2

Exercise 2.4

In [2]:
string = "bar"
var = {"peanut","bar"}
string in var

True

Exercise 2.6
[-5 -3 -1 1 3]

In [3]:
for rn in range(-5, 5, 2):
    print(rn)

-5
-3
-1
1
3

Exercise 2.8

In [4]:
list_var = [3,2.5,True,"heya"]
print(len(list_var))

4

Exercise 2.10

In [5]:
var1 = 2
var2 = 4
var3 = var1+var2
print(var3==5)

False

Example 3.1

It doesn't print anything, could fix the problem by making the elif statement an if statement and then making an else catchall statement that puts all the remaining values into bucket 4.

Exercise 3.3

In [8]:
it = 0
max_iter = 100
while it<max_iter:
    if it==0 or it%10==0:
        print(it)
    it+=1

0
10
20
30
40
50
60
70
80
90

Exercise 3.5

In [11]:
list_str = ["Hello", "GoOdByE", "PeAnUT"]
var = iter(list_str)
print(next(var))
print(next(var))
print(next(var))

Hello
GoOdByE
PeAnUT

In [15]:
dict_var = {"Bob":5,"John":10,"Susan":12}
for i in dict_var.keys():
    print(i,dict_var[i])

Bob 5
John 10
Susan 12

Exercise 3.9

In [19]:
var_list = ['4','happy']
x =[st for st in var_list if st.isdigit()]
print(x)

['4']